<script>
    let chart = AmCharts.makeChart( `${elementId}`, {
      "type": "serial",
      "theme": "light",
      "autoMargins": false,
      "marginTop": 30,
      "marginLeft": 80,
      "marginBottom": 30,
      "marginRight": 50,
      "dataProvider": [ {
        "category": "Evaluation",
        "excelent": 20,
        "good": 20,
        "average": 20,
        "poor": 20,
        "bad": 20,
        "limit": 78,
        "full": 100,
        "bullet": 65
      } ],
      "valueAxes": [ {
        "maximum": 100,
        "stackType": "regular",
        "gridAlpha": 0
      } ],
      "startDuration": 1,
      "graphs": [ {
        "fillAlphas": 0.8,
        "lineColor": "#19d228",
        "showBalloon": false,
        "type": "column",
        "valueField": "excelent"
      }, {
        "fillAlphas": 0.8,
        "lineColor": "#b4dd1e",
        "showBalloon": false,
        "type": "column",
        "valueField": "good"
      }, {
        "fillAlphas": 0.8,
        "lineColor": "#f4fb16",
        "showBalloon": false,
        "type": "column",
        "valueField": "average"
      }, {
        "fillAlphas": 0.8,
        "lineColor": "#f6d32b",
        "showBalloon": false,
        "type": "column",
        "valueField": "poor"
      }, {
        "fillAlphas": 0.8,
        "lineColor": "#fb7116",
        "showBalloon": false,
        "type": "column",
        "valueField": "bad"
      }, {
        "clustered": false,
        "columnWidth": 0.3,
        "fillAlphas": 1,
        "lineColor": "#000000",
        "stackable": false,
        "type": "column",
        "valueField": "bullet"
      }, {
        "columnWidth": 0.5,
        "lineColor": "#000000",
        "lineThickness": 3,
        "noStepRisers": true,
        "stackable": false,
        "type": "step",
        "valueField": "limit"
      } ],
      "rotate": true,
      "columnWidth": 1,
      "categoryField": "category",
      "categoryAxis": {
        "gridAlpha": 0,
        "position": "left"
      }
    } );
</script>

<div id.bind="${elementId}"></div>