<template>
    <footer class="padding-50 dark ui-bg-color01" data-animation-origin="top" data-animation-duration="500" data-animation-delay="800"
        data-animation-distance="50px">
        <div class="container-fluid nopadding">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="font-accident-two-bold uppercase">Want Your Own Page?</h5>
                    <p class="inline-block">
                        Are you looking to enhance your own internet presence?  <a href="#/person/1/contact/">Contact us</a> today!
                    </p>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-sm-2 cv-link">
                    <h5 class="font-accident-two-bold uppercase">Download cv</h5>
                    <div class="dividewhite1"></div>
                    <a href.bind="resumeLink.url">
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Resume</a>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-sm-4">
                    <h5 class="font-accident-two-bold uppercase">Newsletter</h5>
                    <div class="dividewhite1"></div>
                    <form id="contact-form" method="post" submit.delegate="signUp()" role="form">
                        <label for="newsl_form_email">Your Email</label>
                        <input id="newsl_form_email" class="newsletter-email" type="email" required="" name="ne" placeholder="email@domain.com">
                        <button class="btn btn-wh-trans btn-xs newsletter-btn">Sign up!</button>
                    </form>
                    <div class="divider-dynamic"></div>
                </div>
                <div class="col-sm-3">
                    <h5 class="font-accident-two-bold uppercase">Follow me</h5>
                    <div class="follow">
                        <ul class="list-inline social">
                            <li repeat.for="socialLink of socialLinks">
                                <a target="_blank" href.bind="socialLink.url" class="rst-icon-${socialLink.subtype}">
                                    <i class="fa fa-${socialLink.subtype}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
            </div>
            <div class="dividewhite1"></div>
            <div class="row">
                <div class="col-md-12 copyrights">
                    <p>© 2018 SSI Design</p>
                </div>
            </div>
        </div>
    </footer>
</template>